//defaults
p,
span,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-style: normal;
}

//

header {
  .logo {
    height: 29px;
  }

  .header-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    ul {
      list-style-type: none;
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      img {
        width: 1.5rem;
      }

      .post-button {
        cursor: pointer;
      }
      & .logo {
        float: right;
      }
    }
  }

  input {
    border: none;
    background-color: #efefef;
    border-radius: 8px;
    border-color: grey;
    max-width: 30rem;
    height: 36px;

    ::placeholder {
      color: #8e8e8e;
    }
  }
}

main {
  background: #e5e5e5;

  .main-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 24px;
  }

  .post {
    margin: auto;
    border: 1px solid #efefef;
    border-radius: 3px;
    background-color: #efefef;
    width: 37rem;

    .post-image {
      object-fit: cover;
      width: 37rem;
      width: 37rem;
    }

    .post-header {
      border-radius: 3px 3px 0px 0px;
      padding: 0px 20px;
      justify-content: space-between;
      display: flex;
      align-items: center;
      background-color: white;
      height: 60px;

      .profile-img-container {
        overflow: hidden;
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
      }

      .post-header-profile-img {
        object-fit: cover;
        width: 3rem;
        height: 3rem;
      }

      .dots {
        width: 25px;
      }

      .username {
      }
    }

    .post-footer {
      margin-top: -4px;
      background: #ffffff;
      border-radius: 0px 0px 3px 3px;
      padding: 0 1rem;

      .post-footer-buttons {
        width: 100%;
        padding: 17px 0;
        display: flex;
        gap: 1.5rem;

        .post-footer-button:last-child {
          margin-left: auto;
        }

        .post-footer-button:not(:last-of-type) {
        }

        .post-footer-button {
          width: 23.01px;
          cursor: pointer;
        }
      }

      .post-comment {
        color: #0095f6;
      }

      .post-text {
        margin: 8px 0px;
      }

      .post-description {
        inline-size: 100%;
        overflow-wrap: break-word;
      }

      .see-comments,
      .hide-comments {
        cursor: pointer;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #8e8e8e;
      }

      .comments-username {
        font-weight: 500;
        margin-left: 17px;
      }

      .user-comment {
        margin-bottom: 10px;
      }

      .date {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #8e8e8e;
      }

      .post-footer-username {
        margin-right: 5px;
      }

      .comments-input-container {
        align-items: center;
        border-top: 1px solid #dbdbdb;
        transform: rotate(-0.12deg);
        display: flex;

        .sad {
          width: 2rem;
          height: 2rem;
          margin-right: 12.5px;
        }

        input {
          border: none;
          width: 480px;
          margin-right: 15px;
        }
      }
    }
  }

  .main-right {
    .alpha {
      margin-top: 50px;
      max-width: 300px;
      height: 54px;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #8e8e8e;
    }

    .profile-information {
      display: flex;
      align-items: center;

      img {
        cursor: pointer;
        width: 56px;
        height: 56px;
        border-radius: 50%;
      }

      .change {
        cursor: pointer;
        color: #0095f6;
      }

      .change:hover {
        text-decoration: underline;
      }

      .bold-text {
        cursor: pointer;
        margin-left: 13px;
      }
    }
  }

  .suggestions {
    .see-all {
      cursor: pointer;
    }

    .see-all:hover {
      color: #8e8e8e;
      transition: 0.4s;
      text-decoration: underline;
    }

    .suggestion {
      margin-bottom: 16px;
      align-items: center;
      height: 32px;
      display: flex;

      .username {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        cursor: pointer;
      }

      .suggestions-for-you {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #8e8e8e;
      }

      .follow-button {
        margin-left: auto;
        color: #0095f6;
        cursor: pointer;
      }

      .follow-button:hover {
        text-decoration: underline;
      }
    }

    img {
      border-radius: 50%;
      height: 32px;
      cursor: pointer;
    }

    .just-for-flex {
      margin: 20px 0;
      display: flex;
      justify-content: space-between;
    }
  }
}

.window-container {
  width: 80%;
  min-height: 80%;
  max-height: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;

  .window-header {
    border-bottom: 1px solid #dbdbdb;
    transform: rotate(-0.12deg);
    padding-left: 2rem;
    padding-right: 1rem;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;

    .arrow {
      cursor: pointer;
    }

    button {
      color: #0095f6;
      background-color: transparent;
      cursor: pointer;
      border: none;
    }

    button:hover {
      text-decoration: underline;
    }

    button:disabled:hover {
      text-decoration: line-through rgb(232, 106, 106);
    }

    button:disabled {
      color: grey;
    }
  }

  .post-text-profile {
    display: flex;
    align-items: center;
    margin: 15px 0;

    img {
      margin-right: 10px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }

  .create-post-text {
    padding-left: 27px;
    padding-right: 17px;
    height: 267.01px;
    border-bottom: 1px solid #dbdbdb;
    transform: rotate(-0.12deg);

    .post-text-footer {
      display: flex;
      justify-content: space-between;
    }
  }

  .create-post-image {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    transform: rotate(-0.12deg);
    padding-left: 27px;
    padding-right: 17px;
    height: 53.99px;
  }

  .text-input:focus {
    outline: none;
    border: transparent;
  }

  .text-input {
    border: none;
    width: 900px;
    min-height: 100px;
  }

  .url-input {
    min-width: 250px;
    border: none;
  }

  .url-input:focus {
    outline: none;
  }
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba($color: #000000, $alpha: 0.4);
}

.dropdown-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba($color: #000000, $alpha: 0.35);
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  margin-left: 450px;
  margin-top: 50px;
  border-radius: 3px;
  z-index: 1;

  .change {
    color: #ffffff;
  }

  .delete {
    color: rgb(247, 80, 80);
  }

  button {
    cursor: pointer;
    background: transparent;
    border: none;
    height: 40px;
    box-shadow: 0px 8px 16px 0px rgba(249, 251, 250, 0.2);
  }

  button:hover {
    background-color: #cfcfcf;
  }
}

// authorization

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.auth-form-group {
  width: 100%;
  text-align: center;
}

.auth-title {
  text-align: center;

  img {
    width: 50%;
  }
}

form {
  width: 35%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding-left: 15px;
  box-sizing: border-box;
  background-color: #f5f5f7;
  height: 58px;
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 12px;
  align-items: center;
}

button {
  height: 58px;
  font-weight: 400;
  font-size: 23px;
  border: 1px solid #bcbcbc;
  line-height: 27px;
  border-radius: 10px;
  background-color: #79a7ff;
  color: white;
  cursor: pointer;
}

button:hover {
  border-radius: 15px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
}

@media (max-width: 768px) {
  form {
    width: 65%;
  }

  html {
    font-size: smaller;
  }
}

@media (max-width: 592px) {
  html {
    font-size: x-small;
  }
}

@media (max-width: 444px) {
  html {
    font-size: xx-small;
  }
}
