//defaults
p,
span,
input,
textarea,
label,
button {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-style: normal;
}

//

header {
  .logo {
    height: 3rem;
  }

  .header-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 3rem;

    ul {
      margin: 0;
      padding: 0;
      width: 30%;
      list-style-type: none;
      text-decoration: none;
      display: flex;
      justify-content: space-between;

      img {
        width: 1.5rem;
      }

      .post-button {
        cursor: pointer;
      }
      & .logo {
        float: right;
      }
    }
  }

  input {
    border: none;
    background-color: #efefef;
    border-radius: 8px;
    border-color: grey;
    min-height: 2rem;
    width: 30%;

    ::placeholder {
      color: #8e8e8e;
    }
  }
}

main {
  background: #e5e5e5;
  padding-bottom: 1rem;

  .main-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 24px;
  }

  .posts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .post {
    margin: auto;
    border: 1px solid #efefef;
    border-radius: 3px;
    background-color: #efefef;
    width: 37rem;

    .post-image {
      object-fit: cover;
      width: 37rem;
      width: 37rem;
    }

    .post-header {
      position: relative;
      border-radius: 3px 3px 0px 0px;
      padding: 0px 20px;
      justify-content: space-between;
      display: flex;
      align-items: center;
      background-color: white;
      height: 60px;
      z-index: 0;

      .post-user-information {
        gap: 1rem;
        display: flex;
        align-items: center;
      }

      .profile-img-container {
        overflow: hidden;
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
      }

      .post-header-profile-img {
        object-fit: cover;
        width: 3rem;
        height: 3rem;
      }

      .dots {
        width: 25px;
      }

      .username {
      }
    }

    .post-footer {
      margin-top: -4px;
      background: #ffffff;
      border-radius: 0px 0px 3px 3px;
      padding: 0 1rem;

      .post-footer-buttons {
        padding: 0.5rem 0;
        width: 100%;
        display: flex;
        gap: 1.5rem;

        .post-footer-button:last-child {
          margin-left: auto;
        }

        .post-footer-button {
          width: 2rem;
          cursor: pointer;
        }
      }

      .likes {
        margin-bottom: 0.4rem;
      }
      .post-comment {
        color: #0095f6;
      }

      .post-text {
      }

      .post-description {
        inline-size: 100%;
        overflow-wrap: break-word;
      }

      .see-comments,
      .hide-comments {
        cursor: pointer;
        font-weight: 400;
        font-size: 1rem;
        color: #8e8e8e;
      }

      .comments-username {
        font-weight: 500;
        margin-left: 17px;
      }

      .user-comment {
        margin-bottom: 10px;
      }

      .date {
        padding: 1rem 0;
        font-weight: 400;
        font-size: 0.6rem;
        line-height: 14px;
        color: #8e8e8e;
      }

      .post-footer-username {
        margin-right: 0.7rem;
      }

      .comments-input-container {
        padding: 1rem;
        align-items: center;
        border-top: 1px solid #dbdbdb;
        display: flex;

        .sad {
          width: 2rem;
          height: 2rem;
          margin-right: 1rem;
        }

        input {
          font-size: 1rem;
          border: none;
          width: 480px;
          margin-right: 15px;
        }
      }
    }
  }

  .main-right {
    // .alpha {
    //   margin-top: 50px;
    //   max-width: 300px;
    //   height: 54px;
    //   font-weight: 400;
    //   font-size: 12px;
    //   line-height: 18px;
    //   color: #8e8e8e;
    // }

    .profile-information {
      display: flex;
      align-items: center;

      img {
        cursor: pointer;
        width: 56px;
        height: 56px;
        border-radius: 50%;
      }

      .change {
        cursor: pointer;
        color: #0095f6;
      }

      .change:hover {
        text-decoration: underline;
      }

      .bold-text {
        cursor: pointer;
        margin-left: 13px;
      }
    }
  }

  .suggestions {
    .see-all {
      cursor: pointer;
    }

    .see-all:hover {
      color: #8e8e8e;
      transition: 0.4s;
      text-decoration: underline;
    }

    .suggestion {
      margin-bottom: 16px;
      align-items: center;
      height: 32px;
      display: flex;

      .username {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        cursor: pointer;
      }

      .suggestions-for-you {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #8e8e8e;
      }

      .follow-button {
        margin-left: auto;
        color: #0095f6;
        cursor: pointer;
      }

      .follow-button:hover {
        text-decoration: underline;
      }
    }

    img {
      border-radius: 50%;
      height: 32px;
      cursor: pointer;
    }

    .just-for-flex {
      margin: 20px 0;
      display: flex;
      justify-content: space-between;
    }
  }
}

.window-container {
  overflow: hidden;
  width: 50%;
  min-height: 40%;
  max-height: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;

  .window-header {
    border-bottom: 1px solid #dbdbdb;
    transform: rotate(-0.12deg);
    padding-left: 2rem;
    padding-right: 1rem;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;

    .arrow {
      cursor: pointer;
      width: 2rem;
    }

    button {
      height: 3rem;
      color: #0095f6;
      background-color: transparent;
      cursor: pointer;
      border: none;
    }

    button:hover {
      text-decoration: underline;
    }
  }

  .post-text-profile {
    display: flex;
    align-items: center;
    margin: 15px 0;

    img {
      margin-right: 10px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }

  .create-post-text {
    padding-left: 27px;
    padding-right: 17px;
    border-bottom: 1px solid #dbdbdb;
    transform: rotate(-0.12deg);

    .post-text-footer {
      display: flex;
      justify-content: space-between;

      .count-letters {
        color: #8e8e8e;
      }
    }
  }

  .create-post-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    width: 100%;
    height: 100%;
    text-align: center;

    input[type="file"] {
      display: none;
    }

    .custom-file-upload {
      color: white;
      border-radius: 50px;
      border: 1px solid #6a6a6a;
      background-color: #79a7ff;
      display: inline-block;
      padding: 2% 19%;
      cursor: pointer;
    }
  }

  .text-input:focus {
    outline: none;
    border: transparent;
  }

  .text-input {
    resize: none;
    width: 100%;
    border: none;
    min-height: 100px;
  }
}

.overlay {
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba($color: #000000, $alpha: 0.4);
}

.dropdown-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.dropdown-container {
  background-color: #eaeaea;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  z-index: 1;
  right: 0;
  top: calc(50% + 10px);
  min-width: 100px;
  min-height: 50px;

  .update {
    color: #343232;
  }

  .delete {
    color: rgb(195, 5, 5);
  }

  button {
    cursor: pointer;
    background: transparent;
    border: none;
    height: 40px;
  }

  button:hover {
    background-color: #cfcfcf;
  }
}

// authorization

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;

  input {
    width: 100%;
    padding-left: 15px;
    box-sizing: border-box;
    background-color: #f5f5f7;
    height: 58px;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 12px;
    align-items: center;
  }

  button {
    width: 100%;
    height: 58px;
    font-weight: 400;
    font-size: 23px;
    border: 1px solid #bcbcbc;
    line-height: 27px;
    border-radius: 10px;
    background-color: #79a7ff;
    color: white;
    cursor: pointer;
  }
}

.auth-form-group {
  width: 100%;
  text-align: center;
}

.auth-title {
  text-align: center;

  img {
    width: 50%;
  }
}

form {
  width: 35%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button:hover {
  border-radius: 15px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
}

@media (max-width: 768px) {
  .window-container {
    width: 80%;
  }

  form {
    width: 65%;
  }

  html {
    font-size: smaller;
  }
}

@media (max-width: 592px) {
  html {
    font-size: x-small;
  }

  .create-post-image {
    min-height: 50px !important;
  }
}

@media (max-width: 444px) {
  html {
    font-size: xx-small;

    .post {
      width: 30rem;

      .post-header {
        height: 4rem;
      }

      .post-image {
        object-fit: cover;
        width: 30rem;
        width: 30rem;
      }
    }
  }

  .auth-title {
    text-align: center;

    img {
      width: 90%;
    }
  }
}

@media (min-width: 850px) {
  body {
    .search {
      width: 20%;
    }
    ul {
      margin: 0;
      padding: 0;
      width: 20% !important;
      list-style-type: none;
      text-decoration: none;
      display: flex;
      justify-content: space-between;

      img {
        width: 0.5rem;
      }

      .post-button {
        cursor: pointer;
      }
      & .logo {
        float: right;
      }
    }
  }
}
